# Special variables use "$xx$".
# sublog: current work log directory.
# tid: thread id assigned to the current work.
# binfile: full path of the test binary in single mode.
# numa: generated numactl arguments when numacores is set.

[global]
debug_mode = true
log_root = ./log_root_v_nodiff
set_env=export GCBV_REF_SO="/nfs/home/share/gem5_ci/ref/normal/riscv64-nemu-notama-so"

[iteration]
working_mode=single
max_process=48
num = 1
end_delay= 0
except_mode = stop
smode=dy
srange=1,2

[pre-work]
pre-task =
task = echo will start running GEM5 without difftest
except-task =

[work-vector-test]
binpath = /nfs/home/share/gem5_ci/vector_test/*.bin
numacores = 0
pre-task =
fs_path = ./configs/example/kmhv2.py --disable-difftest --enable-riscv-vector --restore-rvv-cpt
task ={set_env} && ./build/RISCV/gem5.opt \
    --outdir=$sublog$ \
    {fs_path} \
    --raw-cpt --generic-rv-cpt=$binfile$
post-task =
except-task = echo gem5 running error!

[post-work]
task=
post-task = echo run finish
except-task =
